torch==1.4.0
timm==0.1.26
torchvision==0.5
pycocotools>=2.0.0
pyyaml

# better to manually install pillow-simd
Pillow

# conflict between pycocotools and numpy 1.18.+
numpy<=1.17.5

# pycocotools needs this but doesn't have dep
matplotlib

omegaconf>=2.0